/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 14px;
    background: rgb(211, 203, 203)
}
::-webkit-scrollbar-track{
    background: rgb(211, 203, 203);
    /* border-radius: 100vw; */
    margin-block: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, rgb(238, 133, 0) 5%, rgb(244, 173, 82) 100%);
    border-radius: 100vw;
    border: 2px solid rgb(211, 203, 203);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(244, 173, 82);
}
@supports (scrollbar-color: red blue){
    *{
        scrollbar-width: auto;
        scrollbar-width: rgb(216, 200, 200) rgb(212, 125, 11);
    }
}

/* use media queries to prevent scrollin of all elements */
h1,
h2,
h3,
h4,
h5,
h6{
    color: rgb(58, 58, 58);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
/* use media queries to reduce the size of all the headings for mobile version */
h1{
    font-size: 50px;
}
h2{
    font-size: 36.6px;
}
h3{
    font-size: 28px;
}
h4{
    font-weight: 600;
    font-size: 18px;
}
h5{
    font-weight: 600;
    font-size: 14px;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    color: rgb(58, 58, 58);
}
.p-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0;
    letter-spacing: 1.5px;
}
a, li{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
    list-style-type: none;
}
svg{
    margin-right: 10px;
}
.short-topic{
    color: rgb(255, 107, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    font-size: 13px;
    padding: 12px 14px;
    width: fit-content;
    position: relative;
    color: rgb(255, 255, 255);
    transition: 500ms;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.button:hover{
    color: rgb(255, 107, 0);
}
.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, rgb(255, 107, 0), rgb(238, 124, 3));
    transition: 500ms;
    box-sizing: border-box;
}
.button:hover::before{
    top: calc(100% - 2px);
}
.button::after{
    content: '';
    position: absolute;
    top: calc(-100% + 2px);
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, rgb(255, 107, 0), rgb(238, 124, 3));
    transition: 500ms;
    box-sizing: border-box;
}
.button:hover::after{
    left: 0;
}
.b-span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 2px solid rgb(255, 107, 0);
    border-right: 2px solid rgb(255, 107, 0);
    transform: scaleY(0);
}
.button:hover .b-span{
    transform: scaleY(1);
    transition: 500ms 500ms;
}
.view-projects{
    width: 219px;
    margin: 20px auto 0;
}
.social-link{
    color: rgb(58, 58, 58);
}
.social-link:hover{
    transition: all 250ms linear;
    background: linear-gradient(75deg ,rgb(255, 107, 0), rgb(238, 124, 3));
    color: rgb(255, 255, 255);
}


nav{
    width: 100%;
    height: 120px;
    background: rgb(255, 241, 224);
    padding-inline: 5%;
    /* background-color: rgb(250, 250, 250); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2); */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    transition: all 400ms ease-in-out;
}

.logo{
    width: 150px;
}
.nav-btn-and-logo{
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.nav-menu{
    width: 410px;
    display: flex;
    justify-content: space-between;
    text-shadow: 2px 3px 8px rgba(128, 128, 128, 0.548);
}
.nav-menu a{
    color: black;
    transition: all 300ms ease-in-out;
}
.nav-menu a:hover{
    color: rgb(255, 143, 0);
    text-shadow: 2px 3px 8px rgba(240, 158, 50, 0.582);
}
.search{
    position: relative;
}
.search-input{
    background: none;
    height: 40px;
    width: 200px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    border: 1px solid rgb(43, 41, 56);
    outline: none;
    padding: 15px;
    padding-right: 40px;
    transition: 400ms ease;
}
.search-input-btn{
    background: none;
    color: rgb(43, 41, 56);
    height: 40px;
    width: 40px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 0;
    transition: 400ms ease;
}
.search-input:focus{
    border: 1px solid rgb(255, 107, 0);
}
.search-input:focus + .search-input-btn{
    color: rgb(255, 107, 0);
}
.nav-active{
    height: auto;
    padding-bottom: 2px;
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
    transition: all 400ms ease-in-out;
}
.nav-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}
.nav-side{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
}
.side-menu-visible{
    transform: translateX(0);
}
.nav-black{
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    /* max-width: 80%;
    min-width: 320px; */
    transition-delay: 400ms;
    z-index: 6;
}
.nav-black::before{
    content: '';
    background-color: rgb(34, 31, 31);
    width: 85%;
    height: 100%;
    position: fixed;
}
.nav-black.side-menu-visible{
    transition-delay: 0s;
}
.nav-orange{
    background: linear-gradient(270deg, rgb(238, 133, 0) 4.69%, rgb(244, 173, 82) 100%);
    width: 80%;
    transition-delay: 200ms;
}
.nav-orange.side-menu-visible{
    transition-delay: 200ms;
}
.nav-cream{
    background: rgb(255, 241, 224);
    width: 94%;
    overflow-y: scroll;
    transition-delay: 0s;
}
.nav-cream.side-menu-visible{
    transition-delay: 400ms;
}
.nav-cream::-webkit-scrollbar{
    width: 0;
}
.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
}
.close-btn{
    opacity: 50%;
}
.close-btn:hover{
    opacity: 1;
}
.nav-side-menu-options{
    font-size: 1.5rem;
    padding: 25px;
}
.nav-side-menu-options > li{
    line-height: 4rem;
    border-bottom: 1px solid rgb(184, 181, 181);
}
.nav-side-menu-options > li > a{
    transition: color 200ms ease-in-out;
}
.nav-side-menu-options > li > a:hover{
    color: rgb(238, 26, 54);
}


.outer-1{
    background: rgba(255, 231, 201, 0.6);
    height: auto;
    padding: 0 0 86px;
    /* color: white; */
}

.inner-1{
    width: 83%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.inner-1-1{
    padding-top: 57px;
    flex: 40%;
    /* background-color: orange; */
    /* text-align: center; */
}
.heading-1-span{
    display: block;
}
.color-effect {
    background: radial-gradient(
        farthest-corner circle at 50% 50%, 
        #e9d901 0%, rgba(231, 5, 5, 0.938) 100%
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.parag-1{
    font-size: 14px;
    line-height: 20px;
    margin: 38px 0 55px;
    /* background-color: blue; */
    max-width: 460px;
}
.customer-views{
    display: flex;
    width: fit-content;
    margin: 48px 0 32px;
    /* background-color: red; */
}
.img-1-2{
    position: relative;
    right: 20px;
}
.img-1-3{
    position: relative;
    right: 39.5px;
}
.img-1-4{
    position: relative;
    right: 67px;
}
.play-btn{
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, rgb(255, 107, 0), rgb(238, 124, 3));
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-2{
    font-size: 20px;
}
.parag-2{
    font-size: 14px;
}
.inner-1-2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 60%;
    /* background-color: green; */
}
.person-card{
    width: 460px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.image-container{
    position: relative;
    width: 380px;
    aspect-ratio: 1 / 1.45;
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform 250ms ease-in;
    z-index: 1;
}
.image-container:hover{
    transform: scale(1.1);
}
.image-container > .circle{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    /* background-color: rgb(240, 240, 240); */
    background-color: rgb(255, 255, 255);
}
.image-container > .person-image{
    width: 100%;
    position: absolute;
    transform: scale(1.2);
    transition: transform 400ms ease-in 250ms;
}
.image-container:hover > .person-image{
    transform: scale(1.2) translateY(-7px);
}
.extras{
    position: relative;
}
.fiber-cable{
    position: absolute;
    bottom: 260px;
    left: -150px;
}
.container-card-1{
    width: 107px;
    height: 121.6px;
    background: rgb(255, 255, 255);
    border-radius: 16.9px;
    box-shadow: 8px 10px 20px rgba(132, 144, 172, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 125px;
    right: -4px; 
    z-index: 2;  
}
.container-card-1 > p{
    font-size: 10px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
}
.container-card-2{
    width: 103px;
    height: 104.6px;
    background: rgb(255, 255, 255);
    border-radius: 16.9px;
    box-shadow: 8px 10px 20px rgba(132, 144, 172, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: -15px;
    left: 30px;
    z-index: 2;
}
.container-card-2 > div{
    width: 36px;
    height: 36px;
    border-radius: 13px;
    background: rgb(209, 237, 255);
    display: grid;
    place-items: center;
}
.container-card-2 > p{
    font-size: 8.5px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.c-c{
    color: rgb(107, 112, 141);
    transition: transform 1000ms ease;
}
.c-c:hover{
    transform: rotateZ(360deg);
}


.outer-2{
    height: 150px;
    background: radial-gradient(circle, rgba(200,200,200,1) 0%, rgba(200,200,200,1) 51%, rgba(250,250,250,1) 100%);
    display: grid;
    place-items: center;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.336);
}

.slide-track{
    display: flex;
    align-items: center;
    width: calc(128px * 18);
    animation: scroll 100s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0% {
        transform: translateX(1360px);
    }
    100%{
        transform: translateX(calc(-650px * 9));
    }
}
.slide{
    display: flex;
    align-items: center;
    padding: 0 25px;
    perspective: 100px;
}
.slide > img{
    transition: transform 500ms;
    transform: translateZ(0px);
}
.slide > img:hover{
    transition: transform 1s;
    transform: translateZ(15px);
}


.outer-3{
    padding: 143px 0 120px;
    height: auto;
}
/* use media queries to reduce the size of everything in this whole section */
.inner-3-1{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.inner-3-1-1{
    padding: 0 0 50px 0;
    margin-left: 50px;
    /* background-color: green; */
}
.img-div{
    width: fit-content;
    position: relative;
}
.img-div::before{
    content: "";
    height: 402px;
    width: 449.6px;
    background: linear-gradient(180deg, rgb(238, 133, 0) 4.69%, rgb(244, 173, 82) 100%);
    border-radius: 17.6px;
    z-index: -1;
    position: absolute;
    top: -18px;
    left: -23px;
}
.small-message{
    height: 77.3px;
    width: 242.3px;
    background: white;
    border-radius: 17.6px;
    position: absolute;
    bottom: 17px;
    right: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-message > div{
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 0;
}
.small-message > div > img{
    float: left;
}
.small-message > div > p{
    word-spacing: -1.2px;
    letter-spacing: -0.2px;
    font-weight: bold;
    text-align: center;
    clear: right;
}
.computer-guy{
    border-radius: 17.6px;
    display: block;
}
.inner-3-1-2{
    padding: 10px 30px 0;
    /* background-color: plum; */
}
.inner-3-1-2 > h4{
    color: rgb(255, 107, 0);
    display: flex;
}
.inner-3-1-2 > h3{
    width: 450px;
    margin-top: 5px;
}
.parag-3{
    width: 505px;
    font-size: 14px;
    border-left: 6px solid rgb(255, 107, 0);
    padding-left: 24px;
    margin-top: 25px;
}
.msn-vsn-val-choose{
    width: 485px;
    height: 63px;
    box-shadow: 5px 7px 20px rgba(132, 144, 172, 0.336);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.mvv{
    color: rgb(147, 160, 191);
    font-size: 15px;
    display: flex;
}
.msn-vsn-val-choose > a:hover{
    color: rgb(255, 172, 64);
}
.selected{
    color: rgb(255, 107, 0);
}
#mvv-words{
    width: 484px;
    height: 135px;
    font-size: 14px;
    text-align: center;
    border: 2px dashed rgba(255, 68, 0, 0.322);
    border-radius: 10px;
    margin: 30px 0;
    padding-inline: 25px;
    box-shadow: 5px 7px 20px rgba(255, 68, 0, 0.123);
    display: grid;
    place-items: center;
}


.outer-4{
    height: auto;
    background-color: rgb(43, 41, 56);
    padding: 40px 0 75px;
}

.outer-4 > h2{
    color: rgb(255, 255, 255);
    max-width: 700px;
    text-align: center;
    letter-spacing: 2px;
    margin: 15px auto 33px;
}
.outer-4 > h6{
    font-weight: 600;
}
.inner-4-1{
    width: 85.1%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.service-wrapper{
    padding: 0 10px;
    margin: 0 auto;
}
.services{
    width: 219px;
    height: 205px;
    background: rgb(32, 30, 45);
    margin: 55px 0;
    padding: 12px 20.5px 0 20.5px;
    position: relative;
    transition: all 200ms linear;
}
.services > p{
    color: rgb(164, 179, 212);
}
.services:hover{
    transform: translateY(20px);
}
.service-svg{
    width: 59px;
    height: 54px;
    background: rgb(255, 255, 255);
    color: rgb(255, 107, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 17px;
    top: -32px;
    transition: all 100ms linear;
}
.service-svg > svg{
    margin: 0;
}
.services:hover .service-svg{
    color: rgb(255, 255, 255);
    background: linear-gradient(to left,rgb(255, 107, 0), rgb(238, 124, 3));
}
.service-read-more{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(43px);
    transition: opacity 150ms linear;
}
.services:hover .service-read-more{
    opacity: 1;
}
.service-read-more > svg , .view-projects > svg{
    margin: 0 0 0 10px;
}
.services >h5{
    color: rgb(255, 255, 255);
    margin: 4px 0 12px;
    line-height: 17px;
}


.outer-5{
    height: auto;
    padding: 92px 0 200px;   
}

.outer-5 > h6{
    font-weight: 700;
}
.outer-5 > h2{
    max-width: 720px;
    text-align: center;
    margin: 26px auto 95px ;
}
.inner-5-1{
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.project{
    width: 469px;
    height: 243px;
    margin:  0 auto 70px;
    display: flex;
    justify-content: space-between;
}
.project > div{
    position: relative;
}
.project > div > h5{
    color: rgb(147, 160, 191);
    margin: 20px 0 10px 0;
}
.project > div > h4{
    position: relative;
}
.project > div > h4::before{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -2px;
    transition: all 500ms ease-out;
    border-radius: 100vw;
}
.project > div > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(245, 245, 245);
    color: rgb(58, 58, 58, 0.8);
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
}
.project > div > a > svg{
    margin: 0;
}
.project:hover div > h4{
    color: rgb(252, 126, 36);
}
/* for mobile version take out the widths and the transition delay from the last 3 classes */
.project:hover div > .top-h4::before{
    background-color: rgb(252, 126, 36);
    width: 100%;
}
.project:hover div > .bottom1-h4::before{
    background-color: rgb(252, 126, 36);
    width: 76%;
    transition-delay: 340ms;
}
.project:hover div > .bottom2-h4::before{
    background-color: rgb(252, 126, 36);
    width: 67%;
    transition-delay: 340ms;
}



.outer-6{
    height: auto;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    position: relative;
    padding: 187px 0 46px;
}

.outer-6 > div{
    width: 82.8%;
}
.inner-6-1{
    height: 176px;
    background: linear-gradient(90deg, rgb(0,0,0,0.16) , rgb(0,0,0,0.16)),
    url("/images/achievement-pic.jpg") center/cover no-repeat fixed;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    display: flex;
}
/* use media queries to make this side cover the whole picture*/
.inner-6-1-1{
    width: 321px;
    height: 100%;
    background-color: rgb(43,41,56);
    display: grid;
    place-items: center;
}
.achievement-text{
    /* background-color: green; */
    width: max-content;
}
.achievement-text > h4{
    color: rgb(255, 255, 255); 
    text-shadow: 2px 3px 5px black;
}
.achievement-text > h6{
    color: rgb(152, 159, 181);
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}
.inner-6-2{
    width: 82.8%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.achievement-div{
    width: 193px;
    height: 180px;
    margin: 0 10px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 50px rgb(211, 211, 211);
    position: relative;
}
.achievement-div > .service-svg{
    width: 82px;
    height: 72px;
    background: linear-gradient(to left,rgb(255, 107, 0), rgb(238, 124, 3));
    color: rgb(255, 255, 255);
    top: -16px;
    left: 30px;
}
.achievements{
    width: 130px;
    margin: 65px auto;
}


.outer-7{
    height: auto;
    padding: 80px 0 100px;
}

.outer-7 > h6{
    margin-bottom: 20px;
}
.outer-7 > h2{
    text-align: center;
    margin-bottom: 40px;
}
.inner-7-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.founders{
    width: 335px;
    height: 630px;
    margin: 40px 10px 0;
}
.founders-image{
    width: 100%;
    height: 69.52%;
    margin-bottom: 20px;
}
.f-i-1{
    background: url(/images/founder1.jpg) center/cover no-repeat;
}
.f-i-2{
    background: url(/images/founder.jpg) center/cover no-repeat;
}
.dim-founders-image{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) , rgb(0,0,0,0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1000ms ease;
}
.dim-founders-image:hover{
    transition: opacity 1000ms ease;
    opacity: 1;
}
.socials{
    /* width: auto;
    height: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.socials > a{
    width: 46px;
    height: 46px;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.socials > a > svg{
    margin: 0;
}
.founders-text-2{
    color: rgb(143, 145, 150);
    transition: all;
}
.founders:hover .founders-text-2{
    background: linear-gradient(to right,rgb(255, 107, 0), rgb(238, 124, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.founders-text > h4{
    color: rgb(58, 58, 58);
    margin: 20px 0 23px;
}
.founders-text > p{
    color: rgb(58, 58, 58);
    font-size: 14.5px;
}


.outer-8{
    height: auto;
    background: rgb(43, 41, 56);
    padding: 70px 0 59px;
}

.outer-8 > h6{
    margin-bottom: 23px;
    font-weight: 600;
}
.outer-8 > h2{
    text-align: center;
    margin-bottom: 23px;
    color: white;
}
.inner-8-1{
    width: 84.53%;
    margin: 0 auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products{
    width: 300px;
    height: 530px;
    margin: 45px 10px 0 ;
}
.products-image{
    width: 100%;
    height: 279px;
    margin-bottom: 70px;
    position: relative;
}
.products-image > img{
    width: 100%;
    height: 100%;
}
.products-price{
    width: 117px;
    height: 82px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
}
.products-price > div{
    width: 100%;
    height: 50%;

}
.price-1{
    background: linear-gradient(220deg ,rgb(255, 107, 0), rgb(238, 124, 3));
}
.price-2{
    background-color: rgb(255, 255, 255);
}
.products-text > h5{
    color: rgb(243, 116, 25);
}
.products-text > h4{
    color: rgb(147, 160, 191);
    margin: 20px 0 23px 0;
}
.products-text > p{
    color: rgb(147, 160, 191);
    font-size: 14.5px;
}


.outer-9{
    height: 962px;
    padding-top: 86px;
}
/* use media queries to change this whole section into a canvas controlled by javascript to be changing images for mobile version */
.outer-9 > h2{
    text-align: center;
    margin-bottom: 95px;
}
.outer-9 > h6{
    margin-bottom: 23px;
}
.inner-9-1{
    width: 83%;
    height: 516px;
    display: flex;
    margin: 0 auto;
}
.inner-9-1 > div{
    flex: 1;
    margin: 0 1%;
    transition: flex 1s linear, height 1s linear;
}
.inner-9-1 > div:hover{
    flex: 50%;
    height: 100%;
}
.pic-1{
    background: url(/images/reviews/1.jpg) center/cover no-repeat;
}
.pic-2{
    background: url(/images/reviews/2.jpg) center/cover no-repeat;
}
.pic-3{
    background: url(/images/reviews/3.jpg) center/cover no-repeat;
}
.pic-4{
    background: url(/images/reviews/4.jpg) center/cover no-repeat;
}
.pic-5{
    background: url(/images/reviews/5.jpg) center/cover no-repeat;
}
.pic-6{
    background: url(/images/reviews/6.jpg) center/cover no-repeat;
}
.pic-7{
    background: url(/images/reviews/7.jpg) center/cover no-repeat;
}
.pic-8{
    background: url(/images/reviews/8.jpg) center/cover no-repeat;
}
.pic-9{
    background: url(/images/reviews/9.jpg) center/cover no-repeat;
}
.pic-10{
    background: url(/images/reviews/10.jpg) center/cover no-repeat;
}
.long{
    height: 100%;
}
.short{
    height: 80%;
    align-self: flex-end;
}


.outer-10{
    height: 301px;
    background: linear-gradient(rgb(0,0,0,0.59),rgb(0,0,0,0.59)),
    url(/images/glass-office-1.jpg) center/cover no-repeat;
    position: relative;
}

.inner-10-1{
    height: 100%;
    width: fit-content;
    padding-top: 50px;
    position: absolute;
    left: 8.6%;
    z-index: 1;
}
.inner-10-1 > h4{
    color: rgb(255, 255, 255);
}
.inner-10-1 > h3 {
    color: rgb(255, 255, 255);
    margin: 15px 0 35px;
}
/* in the mobile version media query remove both right-ang-tri and building-guy */
.right-ang-tri{
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
.building-guy{
    margin: 0;
    z-index: 1;
    position: absolute;
    right: 11.5%;
    bottom: 0;
}


.outer-11{
    height: auto;
    padding-top: 100px;
}

.inner-11-1{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: start;
}
.radio-circle {
    position: absolute;
    display: none;
}
.accordion-wrapper {
    flex: 55%;
    display: grid;
    place-items: center;
}
.accordion-wrapper-1{
    width: 81%;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.accordion {
    width: 100%;
    color: rgb(58, 58, 58);
    border: 1px solid rgb(0, 0, 0, 0.1);
    overflow: hidden;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 31px 22px 24px 30px;
    cursor: pointer;
}
.accordion-content > p{
    max-width: 92%;
    font-size: 15px;
}
.accordion-arrow {
    margin: 0 0 0 9px;
    max-width: 25px;
    height: 25px;
    color: rgb(255, 107, 0);
    border: 0.5px solid rgb(255, 107, 0);
    border-radius: 50%;
    float: right;
    -webkit-transition: all 0.36s;
    transition: all 0.36s;
}
.accordion-content{
    clear: both;
    max-height: 0;
    padding-left: 30px;
    -webkit-transition: 0.15s;
    transition:  0.15s;
}
.radio-circle:checked + .accordion-label .accordion-arrow{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.radio-circle:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 0 0 40px 30px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.faq-wrapper{
    flex: 45%;
    padding-bottom: 25px;
    display: grid;
    place-items: center;
}
.faq-wrapper-1 > h6{
    color: rgb(255, 107, 0);
    margin-bottom: 8px;
}
.faq-wrapper-1{
    padding-inline: 10px;
}
.faq-wrapper-1 > h3{
    margin-bottom: 42px;
}
/* use media queries to reduce the width of this picture for smaller phone sizes */
.thinking{
    width: 440px;
}


.outer-12{
    padding: 122px 0 122px 0;
}

.inner-12-1{
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
/* use media queries to change the height to auto, the padding and the flex to 100. */
.contact-options{
    background: rgb(43, 41, 56);
    height: 452px;
    padding: 0 1%;
    flex: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contact-options > div{
    height: 174px;
    width: 160px;
}
.contact-options > div > h4{
    font-weight: 500;
    color: rgb(147, 160, 191);
    margin-bottom: 20px;
}
.contact-options > div > p{
    color: rgb(255, 255, 255);
    font-size: 13.5px;
    letter-spacing: 1.5px;
}
.contact-svg{
    width: 55px;
    height: 55px;
    color: rgb(147, 160, 191);
    border: 1px solid rgb(147, 160, 191);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
    margin-top: 0;
}
.contact-svg > svg{
    margin: 0;
}
.part3 > p{
    text-decoration: underline;
}
.part4 > .socials{
    width: auto;
    height: auto;
    margin-top: 24px;
    flex-wrap: wrap;
}
.part4 > .socials > a{
    height: 34px;
    flex: 1;
}
.map{
    height: 452px;
    flex: 60%;
}
.map iframe{
    width: 100%;
    height: 100%;
}


.outer-13{
    height: auto;
    padding: 42px 0 57px;
    background-color: rgb(43, 41, 56);
    color: rgb(255, 255, 255);
}
.inner-13-1{
    height: auto;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.inner-13-1-1 > img{
    width: 190px;
}
.inner-13-1-1{
    padding: 0 10px;
    flex: 24.54%;
}
.inn-13-1-links{
    padding: 0 10px;
    flex: 18.107%;
}
.inn-13-1-links > a{
    color: rgb(255, 171, 48);
    text-decoration: none;
}
.inner-13-1-2, .inner-13-1-3, .inner-13-1-4, .inner-13-1-5{
    padding-top: 55px;
}
.inner-13-2{
    padding: 57px 0 37px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    height: auto;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.location{
    padding: 12px 10px;
    color: rgb(255, 255, 255);
    flex: 24.54%;
}
.inner-13-2-1 > ul > li{
    padding: 12px 10px;
    color: white;
}
.inner-13-2-1 > ul > li > a{
    color: white;
}
.inner-13-2-1{
    flex: 18.107%;
}
.mail-form{
    position: relative;
    width: fit-content;
}
.send-email-address{
    width: 180px;
    padding: 13.5px 40px 13.5px 14px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    outline: 0;
    transition: 300ms ease;
}
.send-email-address:focus{
    border: 1px solid rgb(255, 107, 0);
}
.mail-form > button{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    translate: -10px -50%;
}
.mail-form > button > svg{
    color: rgb(255, 255, 255);
    margin: 0;
    transition: 300ms ease;
}
.send-email-address:focus + .send-email-address-btn svg{
    color: rgb(255, 107, 0);
}
.end-parag{
    margin: 23px 0 0 7.5%;
    color: rgb(255, 255, 255);
}


/* About Page */
.a-outer-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 106, 0, 0.3),rgb(255, 107, 0, 0.3)),
    url(/images/about-page/about-picture-1.jpg) center/cover no-repeat;
}
.a-inner-1-1{
    background: linear-gradient(rgba(35, 15, 0, 0.5),rgba(35, 15, 0, 0.5));
    height: inherit;
    display:grid;
    place-items: center;
}
.a-inner-1-1 >div > h1, .a-inner-1-1 > div > h4{
    color: white;
    text-align: center;
    max-width: 720px;
}
.a-inner-1-1 > div > h4{
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    padding-inline: 10px;
}

.a-outer-2{
    padding-block: 95px;
    height: auto;
}
.a-inner-2{
    width: 100%;
    padding-block: 13px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
.a-inner-2-1{
    max-width: 600px;
    padding-inline: 15px;
}
.a-inner-2-1 > h4{
    color: rgb(255, 107, 0);
    display: flex;
}
.a-inner-2-1 > h3{
    max-width: 80%;
    margin-block: 5px 10px;
}
.a-inner-2-1 > p{
    font-size: 14px;
}
.p-middle{
    margin-block: 7px;
}
.a-inner-2-2{
    padding-bottom: 40px;
    display: grid;
    place-items: center;
}
.board-training{
    background: url(/images/about-page/about-picture-2.jpg) no-repeat;
    width: 416px;
    height: 248px;
    border-radius: 20px;
    position: relative;
}
.board-training::before{
    content: "";
    width: 119px;
    height: 124px;
    background: linear-gradient(180deg, rgb(238, 133, 0) , rgb(244, 173, 82));
    border-radius: 100vh 100vh 0 0;
    z-index: -1;
    position: absolute;
    top: -62px;
    left: -33px;
}
.board-training::after{
    content: "";
    width: 119px;
    height: 124px;
    background: linear-gradient(180deg, rgb(255, 107, 0), rgb(238, 124, 3) );
    border-radius: 0 0 100vh 100vh;
    z-index: -1;
    position: absolute;
    bottom: -66px;
    right: -28px;
}

.a-outer-3{
    height: auto;
    padding-bottom: 162px;
}
.a-outer-3 > h4{
    color: rgb(255, 107, 0);
    margin-left: 8.9%;
    display: flex;
}
.a-inner-3-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.a-inner-3-1s{
    width: 465px;
    height: auto;
    margin-top: 40px;
    margin-inline: 25px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 50px 3px rgb(226, 226, 226);
    position: relative;
}
.a-inner-3-1-1-mis{
    margin-top: 80px;
}
.back-svg-1-1{
    color: rgb(2, 130, 53);
}
.back-svg-1-2{
    color: rgb(10, 128, 56);
}
.front-svg-1-1{
    color: rgb(2, 130, 53);
}
.a-inner-3-1-1-vis{
    margin: 125px 0 0 10px;
}
.back-svg-2-1{
    color: rgb(6, 116, 197);
}
.front-svg-2-1{
    color: rgb(6, 116, 197);
}
.a-inner-3-1-1-val{
    margin: 120px 0 0 0;
}
.back-svg-3-1{
    color: rgb(246, 116, 1);
}
.back-svg-3-2{
    color: rgb(247, 114, 1);
}
.back-svg-3-3{
    color: rgb(244, 117, 2);
}
.front-svg-3-1{
    stop-color: #FF6B00;
}
.front-svg-3-2{
    stop-color: #EE7C03;
}
.a-inner-3-1-2{
    height: auto;
    padding: 50px 40px 0;
    position: absolute;
    inset: 0;
}
.a-inner-3-1-2 > p{
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}
.svg-and-title{
    text-align: center;
}
.svg-and-title > h2{
    font-size: 32px;
    margin-top: 20px;
}
.a-inner-3-1-2-val{
    height: auto;
    padding: 25px 30px 0;
    position: absolute;
    inset: 0;
}
.a-inner-3-1-2-val > p{
    font-size: 14px;
    margin-top: 30px;
    display: list-item;
    list-style-type: disc;
}

.a-outer-4{
    padding-bottom: 35px;
    height: auto;
}
.a-inner-4{
    margin-inline: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
.a-outer-4 > h4{
    color: rgb(255, 107, 0);
    margin-left: 8.9%;
    margin-bottom: 14px;
    display: flex;
}
.a-inner-4-2{
    max-width: 500px;
    padding: 0 14px 25px;
    display: grid;
    place-items: center;
}
.a-inner-4-2 > div > p{
    font-size: 13px;
}
.p-middle-2{
    margin-block: 12px;
}
.a-inner-4-1{
    max-width: 550px;
    height: 460px;
    border-radius: 10.25px;
    box-shadow: 1px 1px 30px 1px rgb(219, 219, 219);
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    position: relative;
}
.structure-1{
    height: 85px;
    margin-inline: 25px;
    flex: 100%;
}
.functional-director{
    background: rgba(242, 72, 34, 0.5);
    width: 48%;
    height: inherit;
    margin-inline: auto;
    border-radius: 6px;
    display: grid;
    place-items: center;
}
.structure-2{
    height: 74px;
    margin-inline: 25px;
    display: flex;
    flex: 100%;
    justify-content: space-between;
}
.structure-2 > div{
    width: 41.6%;
    height: inherit;
    border-radius: 6px;
    display: grid;
    place-items: center;
}
.optic-eng{
    background-color: rgba(151, 71, 255, 0.5);
}
.technicians{
    background-color: rgba(13, 154, 255, 0.7);
}
.functional-director > .p-inter, .optic-eng > .p-inter, .technicians > .p-inter{
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
.connector-lines{
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
}
.connector-lines > div{
    display: flex;
}
.connector-lines > div > svg{
    margin: 0;
    color: rgb(179, 179, 179);
}
.line-one{
    transform: translateX(1.5px);
}
.line-two{
    transform: translateX(-1.5px);
}

.a-outer-5{
    height: auto;
    background-color: rgb(43, 41, 56);
    padding: 80px 0 75px;
}
.a-outer-5 > h4{
    color: rgb(255, 107, 0);
    margin-left: 8.9%;
    margin-bottom: 30px;
    display: flex;
}
.a-outer-5 > h5{
    color: rgb(217, 230, 255);
    margin-inline: 8%;
    text-align: center;
    line-height: 30px;
}
.a-inner-5-1{
    width: 70%;
    height: auto;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: #e9da0181; */
}
.approach-wrapper{
    padding: 0 10px;
}
.approach{
    width: 250px;
    height: 240px;
    background: rgb(32, 30, 45);
    margin: 30px 0;
    padding: 12px 20.5px 0 20.5px;
    /* display: grid; */
    /* place-items: center; */
}
.approach > p{
    color: rgb(164, 179, 212);
}
.approach-text{
    text-align: center;
}



.a-outer-7-padding{
    padding-block: 0 180px;
}